.vscode/*
!.vscode/launch.json
node_modules

# Public Content
#public/content/*
!public/content/*.md

# Initial Setup Content
!public/content/assets/images/logo.webp
!public/content/assets/images/slide7.webp
!public/content/assets/images/slide8.webp
!public/content/assets/images/slide9.webp

theme/dist/*
theme/assets/js/app-*
theme/assets/js/theme-*
theme/assets/css/bundle-*
theme/assets/index.html
theme/assets/sw.js
theme/assets/precache-manifest.*.js
dist/*
logs/*.log
npm-debug.log*
*.zip
*.log
*lock.json
build
.idea